<section>
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <form
          action="/admin/add-product"
          method="post"
          enctype="multipart/form-data"
        >
          <h2 class="text-center">Add products</h2>
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="Name" class="form-control" />
            <label for="">Category</label>
            <input type="text" name="Category" class="form-control" />
            <label for="">Price</label>
            <input type="text" name="Price" class="form-control" />
            <label for="">Description</label>
            <input type="text" name="Description" class="form-control" />
            <label for="">Image</label>
            <input type="file" name="Image" class="form-control" />
            <button type="submit" class="btn btn-success mt-4">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>