<div class="row">
<div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
        <h2 class="text-center">Create New Account</h2>
        <form action="/signup" method="POST">
        <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" name="Name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="Email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="Password" placeholder="Password">
  </div>
   <a href="/login" class="btn btn-link">Already have an Account</a></p>
  <div class="text-center">
  <button type="submit" class="btn btn-primary ">Submit</button>
  </div>
</form>
    </div>

</div>
</div>